.DS_Store
._*
.rspec
.yardoc
.bundle
.config
.Spotlight-V100
.Trashes

_yardoc
Icon?
rerun.txt
config/initializers/secret_token.rb
Gemfile.lock

*~
.*.swp
*.gem
*.rbc
*.sassc
*.vim
*.sublime*
**.orig
capybara-*.html
pickle-email-*.html


db/*.sqlite3
config/*.yml

.sass-cache/
.svn/
.git/
.idea/
.rbx/
tmp/
log/
coverage/
doc/
pkg/
rdoc/
bin/
vendor/bundle/
public/system/
spec/tmp/
test/tmp/
test/version_tmp/
spec/reports/
lib/bundler/man/
